/* FONTS*/

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
  src: url('./assets/fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./assets/fonts/Roboto-Bold.woff2') format('woff2');
  src: url('./assets/fonts/Roboto-BoldItalic.woff') format(('woff'));
}

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Roboto', sans-serif;

  --fs-sm: 0.75rem;
  --fs-base: 1rem;
  --fs-baseMed: 1.25rem;
  --fs-md: 1.5rem;
  --fs-lg: 2rem;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(227, 100%, 97%);

  --clr-primary-400: hsl(231, 54%, 23%);

  --clr-accent-400: hsla(231, 54%, 23%, 0.38);
  --clr-accent-800: hsla(231, 54%, 23%, 0.804);
}

/* CSS RESET */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY/GLOBAL */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--clr-neutral-400);
  color: var(--clr-primary-400);
  font-family: var(--ff-primary);
}

/* UTILITY */

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* COMPONENTS */

.plan--btn {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border: none;
  border-radius: 6px;
  margin-top: 1.5rem;
  padding: 0.8rem;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem var(--clr-accent-400);
}

.plan--btn:hover,
.plan--btn:focus {
  box-shadow: none;
  background: var(--clr-accent-800);
  transition: all 400ms ease-in-out;
}
